.contact_icon {
  width: 12%;
  min-width: 12px;
}

.bodytext {
  color: #6e6e6e;
  font-size: 12px;
  margin-left: -30px;
}

.titletext {
  font-size: 12px;
  letter-spacing: -1px;
  color: #ecd2b8;
}

.border-info {
  border-color: #ecd2b8!important;
}

